@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Wallpoet&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Wallpoet&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Passion+One:wght@400;700;900&family=Sriracha&family=Wallpoet&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor0:#EB8D0A;
    --cor1:#E20215;
    --cor2:#C00212;
    --cor3:#EB0215;
    --cor4:#9E020F;
    --cor5:#7C010B;
    --cor6:#5A0108;
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-primária1:"Wallpoet", sans-serif;
    --font-primaria2:"Audiowide", sans-serif;
    --font-primaria3:"Cinzel Decorative", serif;
   
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);   
}
header{
    min-height: 150px;
    background: linear-gradient(to bottom, #EB0215, #7C010B);
    
}
header > h1{
    font-family: var(--font-primaria3);
    font-size: 4em;
    text-align: center;
    padding-top: 50px;   
}

span{
    font-size: 100px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    position: sticky;
    box-shadow: 0px 7px 7px var(--cor6);
    
}
nav > a{
    padding: 8px ;
    color: white;
    text-decoration: none;
    
    
}
nav > a:hover{
    background-color: var(--cor3);
    padding: 10px, 20px;
    border-radius: 8px;
}

main{
    max-width: 600px;
    height: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor3);
    font-size: 1.3em;
    box-shadow: 0px 5px 10px black;
    text-align: justify;
}

aside{
    background-color: var(--cor5);
    box-shadow: 0px 0px 5px 5px var(--cor6);
    margin-top: 20px;
    text-align: center;
    color: white;
}
main > p{
    text-indent: 30px;
}

#img1{
    width: 60%;
    height: auto;
    
}
#ing2{
    width: 60%;
    height: auto;
}   

footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    padding: 5px;
    font-family: var(--font-primaria2);
}

a{
    text-decoration: none;
    color: var(--cor0);
}
