@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    display: flex;
    color: white;
    padding: 10px;
    height: 100px;
    gap: 800px;
    
}

a{
    background-color: rgb(226, 43, 43);
    align-content: center;
    
}

nav{
    background-color: blue;
    justify-content: end;
    align-content: center;
    
}
.menu{
    
    display: flex;
    gap: 150px;
    list-style: none;
    font-weight: bold;

    
}