@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    padding: 10px;
    


}
.item{
   
    background-color: rgb(216, 21, 21);
    margin: 10px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
   
    
    
    
    
    
    
    

}