@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    
}
.item{
   
    background-color: rgb(216, 21, 21);
    margin: 10px;
    padding: 30px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    

}
#oce{
   background-color: aqua; 
}