@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    height: 1000px;
    background-color: blueviolet;
    display: inline-flex;
    
    flex-flow: column wrap;
    
}
.item{
   
    background-color: rgb(216, 21, 21);
    margin: 10px;
    width: 500px;
    height: 500px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
   
    
    
    
    
    
    
    

}