@charset "UTF-8";

*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
   list-style: none;
   color: white;
}
.header{
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px;

}
.menu{
   display: flex;
   & li{
      margin: 10px;
      & a{
         padding: 5px;
      }
   }
}
  
h1{
   text-align: center;
   margin-top: 50px;
   color: black;
   font-size: 2rem;
}

p{
   color: black;
}

img{
   max-width: 100%;
   display: block;
}

.flex{
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
   margin: 0 auto;
   & div{
      flex: 1 1 200px;
      margin: 10px;
   }
}

/*Section flesgrid*/

.grid1{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   max-width: 780px;
   margin: auto;
   grid-gap: 20px;
   
   & div:nth-child(n+4) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 10px;
   
   }
   & div.anuncio{
      grid-column: 1;
      grid-row: 2/5;
      display: block;
      align-content: center;  
   }

}
@media (max-width: 600px){
   .grid1{
      grid-template-columns: repeat(2, 1fr);  
      & div:nth-child(n+4) {
         display: block;
      }

      & div.anuncio{
            grid-column: 1;
            grid-row: 2/4;
            order: -1;

      }
}
}

.grid2{
   display: grid;
   grid-template-columns: 1fr 200px;
   max-width: 790px;
   margin: auto;
   padding: 30px;
   grid-gap: 20px;
   & div.lado > div{
      margin-bottom: 10px;
   
   } 
}
@media (max-width: 600px){
   .grid2{
   grid-template-columns: 1fr ;
   & div.lado{
      display: flex;
      overflow: scroll;
   }
   & div.lado > div{
      flex: 1 0 200px;
      margin: 10px;
   }
}
}
.grid3{
   display: grid;
   grid-template-columns: 1fr 1fr;
   max-width: 800px;
   margin: auto;
}



   


