@charset "UTF-8";
* {
font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient(to top, #0FC2C0,#0CABA8 );
}
main {
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #127977;
}
p{
    text-align: justify;
    color:#023535 ;
}

h2 {
    color:#0CABA8 ;
}
h1 {
    text-align: center;
    color: #008F8C;
    box-shadow: 1px 1px 2px #015352;
    text-shadow: 1px 1px 2px #015352
} /*video 08*/