@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    color: white;
    font-weight: bold;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    & div{
        font-size: 2rem;
        margin-left: 100px;   
    }
    & ul{
        display: flex;
        margin-right: 100px;
        & li{
            padding: 20px;
            font-size: 1.3rem;
        }

    }

}

h1{
    color: black;
    text-align: center;
    margin-top: 20px;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    
}