@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    & .cad1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: auto;
        & div{
            margin-left: 100px;
            font-size: 2rem;
        }
        & ul{
            display: flex;
            margin-right: 100px;
            & li{
                margin-right: 100px;
                font-size: 1.3rem;
            }
        }
    }
    & .asa{
        padding: 10px;
        font-size: 2rem;
        color: rgb(247, 8, 8);
        
          
    }
    
}

.todo{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    & div{
        flex: 1 1 200px;
        margin: 10px;
        & img{
        max-width: 100%;
        display: block;
        }
        & p{
            padding: 5px;
            color: black;
            text-align: center;
        }
    }
    
}
