@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

h1{
   text-align: center;
   margin-top: 20px;
   color: black;
}


header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    & .cad1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        max-width: auto;
        & div{
            margin-left: 100px;
            font-size: 2rem;
        }
        & ul{
            display: flex;
            margin-right: 100px;
            & li{
                margin-right: 100px;
                font-size: 1.3rem;
            }
        }
    }
    & .asa{
        padding: 10px;
        color: rgb(247, 8, 8);
        font-size: 2rem;
    }
    
}

.todo{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    & div{
        flex: 1 1 200px;
        margin: 10px;
        & img{
        max-width: 100%;
        display: block;
        }
        & p{
            padding: 5px;
            color: black;
            text-align: center;
        }
    }
    
}

.nada{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: auto;
    grid-gap: 10px;

    & div{
        & img{
        max-width: 100%;
        
        }
        & p{
            color: black;
            padding: 5px;
        }
    }
    
    & div:nth-child(n+4){
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 10px;
 
    }
      & .one{
        grid-column: 1;
        grid-row: 2/5;
        display: block;
        align-content: center;
        
    }
}

@media (max-wedth: 600px){
    .nada{
        grid-template-columns: 1fr 1fr;
        & div:nth-child(n+4){
        display: block;
        }
        & .one{
        grid-column: 1;
        grid-row: 2/5;
        order: -1;
        }

    }
}

.nada2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}