@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}



header{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}


header > h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-100px, 0px); 
}

header > p{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-100px, 0px); 
}

header > a{
    text-decoration: none;
    color: white;
}

body{
    background-color: white;
    
}
.contem{
    height: 1100px;
    width: 1100px;
    padding: 50px;
    background-color: blueviolet;
    margin-left: 50px;
    text-align: justify;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    max-width: 1100px;
    min-width: 400px;
}
#contem2{
    background-image: url('../imagens/background001.jpg');  
    height: 1100px;
    width: 1100px;
    padding: 50px;
    margin-left: 50px;
    text-align: justify;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
#contem4{
    height: 100vh;
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    height: 1100px;
    width: 1100px;
    padding: 30px;
    margin-left: 50px;
    text-align: justify;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    color: black;
}


