@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}



header{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}


header > h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-100px, 0px); 
}

header > p{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-100px, 0px); 
}

header > a{
    text-decoration: none;
    color: white;
}

body{
    background-color: white
}
.contem{
    height: 400px;
    width: 400px;
    padding: 10px;
    background-color: blueviolet;
    margin-left: 50px;
}

